.header {
  grid-area: h;
  background-color: rgba(42, 67, 102, 1);
}

.header img {
  width: 50px;
  padding: 8px;
}

.loginBlock {
  float: right;
  padding-right: 30px;
  padding-top: 20px;
  color: white;
}

.loginBlock a {
  color: white;
  text-decoration: none;
}