.nav {
    grid-area: n;
    background-color: rgba(42, 67, 102, 1);
  }

.item {
    padding: 15px 30px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: goldenrod;
}